*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --white: white;
    --gray: #969696;
    --blue:  #253d5b;
    --black: black;
}

body {
    background-color: var(---white);
    
}

main {
    width: 100%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px;
    background-color: var(--blue);    
}

header h1 {
    display: inline-block;
    font-size: 50px;
    color: var(--gray);
}

h2{
    color: var(--gray);
}

header nav {
    float: right;
    padding-top: 15px;
    margin-right: 5px;
    font-size: 25px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: var(--gray);
    text-decoration: none;
}

section {
    width: 100%;
    margin: 40px auto;
    /* background-color: white; */
}

#about-me, #projects, #contact-me {
    font-size: 24px;
    display: flex;
}


aside {
    border-right: 5px solid var(--blue);
    flex: 1;
    max-width: 200px;
    text-align: right;
    float: left;
    padding-right: 20px;
    margin: 10px 10px 40px 50px;
    font-size: 50px;
}

aside p {
    color: var(--blue);
}

.card-container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    max-width: 90%;
}


 .card-column { 
    display: flex; 
    flex: 1 0 200px;
    flex-direction: column;
    max-width: 100%;
    padding: 10px; 
    margin: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: var(--blue);
    border-radius: 10px;
}  

.card {
    display: flex;
    flex-direction: column;
    flex: 1 0 200px;

}

.card-1 {
    flex: 1 0 400px;
}

#row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
}

.card-header {
    position: relative;
    text-align: center;
    margin-top: -30px;
    border-radius: 30px;
    background-color: var(--blue); 
} 

#contact-nav {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 45px;
}

#contact-nav ul {
    list-style-type: none;
}

#contact-nav ul li {
    display: inline-block;
    margin-left: 25px;
}

#contact-nav a {
    color: var(--blue);
}